.title {
    position: relative;
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin: a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 80%;
    
}

.title h1 {
    font-size: 40px;
}

@media screen and (max-width: 1024px) {
    .title h1 {
        font-size: 30px;
    }
}
